{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Register Service Providers</h3>
    <div class="box">



        
        <form method="POST" action="/register_providers">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="service" placeholder="Service" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="location" placeholder="Location" autofocus="">
                </div>
            </div>            


            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone" placeholder="Phone" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="nssf_branch" placeholder="NSSF Branch" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="max_morn" placeholder="Shift1 Limit" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="max_noon" placeholder="Shift2 Limit" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="max_eve" placeholder="Shift3 Limit" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="max_num" placeholder="General Limit" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="unit_cost" placeholder="Unit cost" autofocus="">
                </div>
            </div>            

            <button class="button is-block is-info is-large is-fullwidth">Register</button>
        </form>
    </div>
</div>
{% endblock %}