{% extends "base5.html" %}

{% block content %}


<div class="div2">


        
        <form method="POST" action="/reset_passwords/{{ any_user.id }}">
    
            <p>EMAIL:   {{ any_user.email }}</p>
            <p>NAME:    {{ any_user.name }}</p>
            <p>ROLE:    {{ any_user.role }}</p>

            <p><label for="password">New Password:</label>
            <input type="text" class="form-control" name="password" placeholder="New Password" autofocus=""></p>

            

            <button class="button is-block is-info is-large is-fullwidth">Reset password</button>
    
        </form>
        <div> 
        <a href="{{ url_for('main.show_all_users') }}" class="button">Back</a>
        </div>
</div>
{% endblock %}